<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col col-xs-7 col-sm-7 col-md-7">
            <h1>{{ page.title }}</h1>
            
            {% for training in site.data.training.training %}
            <h2 class="h2 collapsible active">
                <span style="float:left">⬇️</span>
                {{ training.title }}
                <span style="float:right">⬇️</span>
            </h2>
            <div class="content" style>
                <span>Czas szkolenia: <b>{{ training.time }}</b></span>
                {{ training.desc }}

                <a href="mailto:krzysztof@mrdev.pl?subject={{training.title}}">Kontakt w sprawie szkolenia</a>
            </div>
            {% endfor %}

            <h2><a href="mailto:krzysztof@mrdev.pl">Kontakt w sprawie szkoleń: krzysztof@mrdev.pl</a></h2>
        </div>
    </div>
</div>