<div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
         {% assign posts = site.posts | where:"categories", page.category %}
          {% for post in posts %}

              {% assign mod = forloop.index | modulo: 2 %}
              {% if mod == 0 %}            
                {% include main-right-side.html %}
              {% else %}
                {% include main-left-side.html %}
              {% endif %}
              
          {% endfor %}
      </section>
      {% include sidebar.html %}
    </div>
  </div>