<div id="content-wrapper">
  <div class="inner clearfix">
    {% include left_sidebar.html %}
    <section id="main-content">
        <!-- using the split filter -->
        {% assign relevant = paginator.posts | except:"published","false" %}
        {% for post in relevant %}

          {% if forloop.index == 1 and paginator.page == 1 %}
            {% include main-first.html %}
          {% else %}
              {% include main-left-side.html %}
          {% endif %}
        {% endfor %}
        
      {% include pagination.html %}

    </section>
    {% include right_sidebar.html %}
  </div>
</div>