<div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
        {% assign vlogs = site.data.my5minutes[page.permalink] %}
        <h1>{{ vlogs.title }}</h1>
  
        {{ content }} 
        
        {% include posts/my5minutes/miro.html %}
        
        {% for episode in vlogs.episodes %}
            <h3>Moje 5 minut - {{ episode.title }}</h3>
            <embed class="youtube_5min" src="https://www.youtube.com/embed/{{episode.youtube}}"/>
        {% endfor %}

        {% include promotions/szkolaeventstormingu-inside-post.html %}

        <!--{% include posts/my5minutes/preface.html %}-->

        {% include subscribe_form_centered.html %}
  
        {% include disqus.html %}
      </section>
      {% include sidebar.html %}
    </div>
  </div> 