.event-color {
    color: #ff8b00;
}

.command-color {
    color: #25abfe;
}

.external-system-color {
    color: violet;
}

.policy-color {
    color: purple;
}

.aggregate-color {
    color: yellow;
}

.actor-color {
    color: rgba(219, 219, 0, 0.945);
}

.read-model-color {
    color: green;
}

.hot-spot-color {
    color: red;
}