.event-color {
    color: #ff8b00;
}

.command-color {
    color: #25abfe;
}

.external-system-color {
    color: violet;
}

.policy-color {
    color: purple;
}

.aggregate-color {
    color: yellow;
}

.read-model-color {
    color: green;
}