.h-1 {
    background: lightblue; 
    padding: 10px;
    display: block;   
    text-align: center;
    font-size: 24pt;
    color: black;
    width: 100%;
}

.h-2 {
    background: lightsalmon; 
    padding: 10px;
    display: block;   
    text-align: center;
    font-size: 20pt;
    color: black;
}

.h-3 {
    background: #00aa00; 
    padding: 10px;
    display: block;   
    text-align: center;
    font-size: 16pt;
    color: black;
}

.h-4 {
    background: gold; 
    padding: 12px;
    display: block;   
    text-align: center;
    font-size: 24pt;
    color: black;
    font-weight: bold;
}

.h-allert-1 {
    background: red; 
    padding: 10px;
    display: block;   
    text-align: center;
    font-size: 20pt;
    color: white;
}

.center_big {
    margin: 20px;
    display: block;  
    text-align: center;
    font-size: 20pt;
}

.color_1 {
    color: red;
}

.color_2 {
    color: green;
}

.color_3 {
    color: lightblue;
}

.color_4 {
    color: royalblue;
}

.color_gray {
    color: gray;
}

.color_lightgray {
    color: lightgray;
}

.color_black {
    color: black;
}



.h-event-color {
    border: solid orange 2px;
    background-color: #FFEB4699;
    display: block;  
    margin: 0 auto; 
    font-size: 20pt;
    text-align: center; 
    color: black;
    padding: 15pt;
    font-weight: bold;

    a:link {
        color: black; 
        background-color: transparent; 
        text-decoration: none;
      }
      
      a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: none;
      }
}





.h-after-conf-itunes {
    border: solid orange 2px;
    background-color: #FFEB4699;
    display: block;  
    margin: 0 auto; 
    font-size: 20pt;
    text-align: center; 
    color: black;
    padding: 15pt;
    font-weight: bold;

    a:link {
        color: green; 
        background-color: transparent; 
        text-decoration: none;
        font-size: 24pt;
        font-weight: 900;
      }
      
      a:visited {
        color: green;
        background-color: transparent;
        text-decoration: none;
        font-size: 24pt;
        font-weight:900;
      }
      
      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: none;
        font-size: 24pt;
        font-weight: 900;
      }
      
      a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: none;
        font-size: 24pt;
        font-weight: 900;
      }
}