
.post-right-image {
    float: right;
    padding: 10px;
}


.post-left-image {
    float: left;
    padding: 10px;
}

.post-center-image {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.post-big {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.center-image {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.left-image {
    float: left;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 30%;
}

.right-image {
    float: right;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 30%;
}

.book-image {
    display: block;
    max-width: 210px;
    max-height: 300px;
    float: left;
    padding: 10px;
}

.image-li {
    float: left;
    padding: 5px;
    margin: 0 auto;
}


.post-right-small-image {
    float: right;
    padding: 10px;
    width: 25%;
}


.post-left-small-image {
    float: left;
    padding: 10px;
    width: 25%;
}