
h1 {
  display:inline-block;
  padding-bottom: 2pt;
}

.h2 {
  display:inline-block;
  padding-bottom: 2pt;
}

.h3 {
  display:inline-block;
}

.h4 {
  display:inline-block;
}

.h5 {
  display:inline-block;
}

.h6 {
  display:inline-block;
}

p {
  font-size:x-large;
}

li {
  font-size:x-large;
}

h5.card-title {
  text-align: justify;
  font-size:x-large;
}

p.card-text {
  font-size: medium;
  text-align: justify;
}