.sidebar-promo 
{
    display: block;  
    margin: 0 auto; 
    font-size: 12pt;
    text-align: center; 

    img {
        margin: 0 auto;
    }


    a:link {
        color: black; 
        background-color: transparent; 
        text-decoration: none;
      }
      
      a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: none;
      }

}

.szkolaeventstormingu{
    border: solid orange 1px;
    background-color: #FFEB4699;
    a:link {
        color: black; 
      }
      
      a:visited {
        color: black;
      }
      
      a:hover {
        color: red;
      }
      
      a:active {
        color: yellow;
      }
}


.modelc4 {
  border: solid blue 1px;
  background-color: white;
  a:link {
      color: black; 
    }
    
    a:visited {
      color: black;
    }
    
    a:hover {
      color: red;
    }
    
    a:active {
      color: blue;
    }
}

.post-promo {
  display: flex;
  justify-content: center;
  align-items: stretch;

  font-size: 12pt;
  border: solid orange 2px;
  background-color: #FFEB4699;
  color: black;
  padding: 5px;
  margin: 10px;

  img {
      height: 100px;
      margin: auto;
  }
  
  b{
    font-size: 12pt;
  }

  div {
    float:left;
    height: 100px;
    margin: 10px;

    &.title {
      text-align: left;
     flex-grow: 8;
    }

    &.image {
      flex-grow: 1;
    }
  }


  a:link {
      color: black; 
      background-color: transparent; 
      text-decoration: none;
    }
    
    a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: red;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: none;
    }
}