.highlight-post {
    background-color:rgba(135, 227, 250, 0.144);
}

code {
    font-size: 14pt;
}

a.button { 
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

.post-date {
    float: right;
}


div.post_image {
    float: left;
    margin-right: 10px;
}

div.post_image img {
    height: auto;    
}

div.first_post {
    overflow:auto;
    display:block;
    min-height:100%;    
}

div.post_preview {
    overflow:auto;
    display:block;
    width:400px;
    float:left;
    padding:15px;
}




div.more_url {
    display:block;
    text-align: right;
}

ol {
    list-style-position: inside;
    list-style: default; 
    list-style-type: decimal;
    padding: 0px;
}

div.blog_rss {
    display:block;
    margin: 0 auto;
}


.inner {   
   color: black;
   width: 100%;
}

aside#sidebar {
    background: transparent;
    padding-left:10px;
    float: left;
    width: 28%;
}

#content-wrapper {  margin: 0 auto; }

.centered {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vmin;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

div.disqus {
    width: 100%;
}

.h1 {
    display:inline-block;
}

.h2 {
    display:inline-block;
}

.h3 {
    display:inline-block;
}

.h4 {
    display:inline-block;
}

.h5 {
    display:inline-block;
}

.h6 {
    display:inline-block;
}

@import 'images';
@import 'highlights';
@import 'eventstorming';

@import 'youtube';
@import 'tdd';
@import 'syntax';
@import 'goals';

@import 'books';
@import 'affiliation';
@import 'promo';
