{% include head.html %}

<div class="container-fluid">
    <div class="row justify-content-md-center">       
        <div class="col col-xs-9 col-sm-9 col-md-9">
            <div>
                <h1>
                    <a href="/cele">Cele - Trzy Poziomy.</a>
                </h1>
            </div>

            <div>
                Poniższy wykaz nagród może ulec zmianie, w zależności od bieżących potrzeb. Wartość nagród odpowiada maksymalnej zadeklarowanej
                wartości nagrody jaka jest aktualnie przyporządkowana do danego poziomu.
            </div>

            <hr/>


            <h2>{{page.title}}</h2>
            <h3>Maksymalna wartość nagrody: {{ page.price }}</h3>
            <div>
                {{page.desc}}
            </div>
            <hr/>
            <div>
                {% assign awards = site.data.awards[page.level] %} {% include _goals/awards.html %}
            </div>

        </div>

        <div class="col col-xs-3 col-md-3 col-sm-3">
          {% include right_sidebar.html %}
        </div>
    </div>
  </div>
{% include footer.html %}