<div class="row justify-content-md-center sidebar-promo modelc4 mb-4"> 
<form action="https://secure.tpay.com/" method="post" name="payment">
  <input name="kwota" value="1500" type="hidden">
  <input name="crc" value="75e3c090-7e5c-48f9-b831-29781942f65e_b7bae019-32c8-4672-9803-0695352a1adb" type="hidden">
  <input name="opis" value="Kurs C4 dla .NETu" type="hidden">
  <input name="kanal" value="64" type="hidden">
  <input name="jezyk" value="PL" type="hidden">
  <input name="id" value="52126" type="hidden">
  <input name="md5sum" value="b93027ea06ab4ce114d002199459db4d" type="hidden">
  <input type="submit" value="== KUP DOSTĘP ==" class="btn btn-primary">
</form>
</div>
